before_install:
    - sudo apt-get install -y lcov

install:
    - gem install coveralls-lcov

language: cpp

script:
    - make
    - ./tests

after_success:
    - cd ${TRAVIS_BUILD_DIR}
    - lcov --directory . --capture --output-file coverage.info # capture coverage info
    - lcov --remove coverage.info '/usr/*' './catch.hpp' --output-file coverage.info # filter out system files
    - lcov --list coverage.info # debug before upload
    - coveralls-lcov --repo-token ${COVERALLS_TOKEN} coverage.info # uploads to coveralls
